.navbar-style{
    background-color: rgb(223, 199, 168);
}
.logo-image-style{
    height: 55px;
    width: 55px;
}
.logo-text-style{
    margin:-21px 0px 0px 60px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
main{
    min-height:82vh;
}
footer{
    background-color: rgb(223, 199, 168);
    padding: 10px; 
    margin-top: 0.5rem;
}
marquee{
    margin-top:1rem;
    font-size:1.5rem;
}
.p-style{
    text-align: justify;
}
th,td,tr{
    text-align: center;
}